body{
    background-color: #0fcf90;
}
h1{
    color: #b9105e;
}
h2{
    color: orange;
}
ul li {
    color: blue;
}
p{
    background-color: yellow;
}
/*Make all inputs have a 3px red border*/
input{
    border:3px solid red;
}
.hello{
    background-color: white;
}

 #special{
    border:2px solid blue;
 }  
 /*Make all the <p>'s that are nested inside of divs 25px font(font-size: 25px)*/
div p {
    font-size: 25px;

}

input[type=text]{
    background: gray;
}

div:nth-of-type(3) p{
    background: #b9105e;
}
/* Give the 2nd <p> inside the 3rd <div> a 5px white border*/
div:nth-of-type(3) p:nth-of-type(2){
    border: solid 5px white;
}
/* Make the <em> in the 3rd <div> element white and 20px font(font-size:20px)*/
div:nth-of-type(3) em{
    color:white;
    font-size: 20px;
}
/*BONUS CHALLENGES*/
input[type=checkbox]{
    margin-left: 50px;
}
label{
    text-transform: uppercase;
}
#special::first-letter{
    color: green;
    font-size: 100;
}
/*Make the <h1> element's color change to blue when hovered over */
h1:hover{
    color: blue;    
    background:hotpink;
}
a ::after{
    background: gray;
}
